{% extends "site.layout.twig" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h3>Добавить покупку</h3>
        <form method="post">
            <div class="form-group">
                <label>Продукт</label>
                <input class="form-control" name="good_id">
            </div>
            <div class="form-group">
                <label>Магазин</label>
                <input class="form-control" name="shop_id">
            </div>
            <div class="form-group">
                <label>Цена</label>
                <input class="form-control" name="cost">
            </div>
            <div class="form-group">
                <label>Количество</label>
                <input class="form-control" name="amount">
            </div>
            <div class="form-group">
                <input type="hidden" name="user_id" value="{{ currentUser.id }}">
                <button class="btn btn-success">Добавить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}