{% extends "site.layout.twig" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h3>Мои покупки</h3>
        <ul class="list-group">
            {% for sale in sales %}
                <li class="list-group-item">{{ sale.good_id }} {{ sale.timestamp|date('Y-m-d') }} {{ sale.cost }}/{{ sale.amount }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}